h1, p, h3 {
  color:#ACACAC;
  width:960px;
}

p{
  text-align:justify;
}

h4{
  color:#3A8DC6;
}

*{
  box-sizing: border-box;
}
.mainimages{
float:left;

}

.footerimages{
float:left;

}

.footerimages img{
  border:5px solid #b2b2b2;
}

main {
  margin-left: 30px
  width:960px;
}